.container_wrapper{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}
.container_wrapper::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: rgb(48, 47, 47);
}